/* ESTO ES UN COMENTARIO EN CSS*/
body{
    background-color:chartreuse ; /*CAMBIA EL COLOR DE FONDO DE LA PAGINA*/
}

/*ENCABEZADO*/

/*PARTE PRINCIPAL*/



h1{
    color: blueviolet;
}
p {
    color: blue;
}